<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/accueil">Admin MNS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Tableau de bord</a>
          </li>

          @if (authentification.role_name == "Administrateur") {
            <li class="nav-item">
              <a class="nav-link" routerLink="/gestion-utilisateurs" routerLinkActive="active">Gestion utilisateurs</a>
            </li>
          }
        </ul>
        <div class="d-flex">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Utilisateurs..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
          </form>
  
          @if (authentification.role_name) {
            <button mat-raised-button color="warn" (click)="onLogout()" class="ml-3">Déconnexion</button>
          }
        </div>
        
      </div>
    </div>
  </nav>
  
  <router-outlet />